<% if flash[:warning] || flash[:successs] %>
  <% flash.each do |message_type, message| %>
    $('#flash_messages').html('<div class="alert alert-<%= message_type %>"><%= message %><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>'); 
    <% flash[message_type] = nil %>
  <% end %>
<% else %>
  $('#url').prepend("<%=j render 'links/new_link' %>"); 
<% end %>



