@import "bootstrap-sprockets";
@import "bootstrap";
body {
  background-color: #EAF0F2
}
#main {
  margin-top: 50px;
}
#popular {
  margin: 10px
}
.stats {
  text-align: center;
  margin-top: 50px;
}
.form-layout {
  text-align: center;
  margin-top: 40px;
}
.input-field {
  height: 50px;
  width: 500px;
}
.links {
  text-align: center
}
.home-page h4 {
  text-align: center;
  margin-top: 40px;
}
.user-page {
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
  height: 150px;
  width: 300px;
}
.link-actions {
   display: inline-block !important;
   margin: -70px 0 50px 0 !important;
}
.links {
  text-align: center;
}
.user_profile {
  margin-top: 20px;
  font-size: 20px;
}
.user_details {
  margin-top: 50px;
  position: fixed;
}
.list-group-item {
  background-color: #ffedcc;
}
a {
  color: black;
  text-decoration: none;
}
.badge {
    display: inline-block;
    min-width: 10px;
    max-width: 500px;
    overflow: scroll;
    padding: 3px 7px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #777777;
    border-radius: 1;
    margin-top: 10px;
}
.table{
  align: center;
}
.table-hover {
  width: 300px;
  padding: 5px;
  text-align: left;
}
.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}
.login-form-main-message {
  background: #ffffff;
  color: #999999;
  border-left: 3px solid transparent;
  border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  height: 0;
  padding: 0 20px 0 17px;
  opacity: 0;
  transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
  height: auto;
  opacity: 1;
  padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
  border-left-color: #2ecc71;
}
.login-form-main-message.error {
  border-left-color: #e74c3c;
}
.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
  width: 500px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
label {
  display: inline-block;
  width: 200px;
  margin-bottom: 5px;
  font-weight: bold;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #f0ad4e;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 60px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
  }
label.form-invalid {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: block;
  margin-top: -25px;
  padding: 7px 9px;
  background: #777777;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
}
label.form-invalid:after {
  top: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #777777;
  border-width: 6px;
}
.circle {
  border-radius: 50%;
}
.user-thumb {
  width: 150px;
}
.username-div {
  display: inline !important;
  padding: 30px 20px;
}
.date-joined {
  margin-left: 30px;
}
.right, {
  float: right;
}
.right-aligned {
  float: right;
  margin-right: 10%;
}
.text-right {
margin-left: 400px;
}
.home-header-recent {
  padding: 20px 0;
}
.small_link {
  margin-left: 260px;
  text-align: center;
  width: 600px;
  color: #f0ad4e;
  overflow: scroll;
}
.all_links {
  margin-top: 50px;
  text-align: center;
  z-index: 1;
  border-radius: 20%;
  background-color: black;
  color: white;
}
input[type="text"]{
  border-radius: 10px 0 0 10px;
  width: 700px;
  height: 70px;
  font-size: 25px;
  text-align: center;
}
input[type="text"]:focus{
outline: none;
box-shadow: 0px 0px 5px #f0ad4e;
border:1px solid #f0ad4e;
border-radius: 10px 0 0 10px;
}
input[type="text"]:hover{
border: 1px solid #999;
border-radius: 10px 0 0 10px;
}
input[type="text"]:focus:hover{
outline: none;
box-shadow: 0px 0px 5px #f0ad4e;
border:1px solid #f0ad4e;
border-radius: 10px;
} 
.text-shadow {
  text-shadow: 2px 2px 5px #666666;
}
@media(max-width:768px) {
  .image {
    display: none;
  }
  .input-field {
    height: 30px;
    width: 300px;
  }
  .btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 0.3;
    border-radius: 6px;
  }
  .home-page h4 {
    text-align: center;
    margin-top: 40px;
    margin-left: -5px;
  }
  .text-right {
    text-align: center;
    margin-top: 40px;
    margin-left: -5px;
  }
  .badge {
    max-width: 200px;
  }
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    height: 70px;
    border-radius: 0 10px 10px 0 ;
    margin-bottom: 9px;
}
.text_input {
  width: 165px !important;
  height: 24px !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  text-align: left !important;
}
.link-view {
  max-width: 70% !important;
}
.small {
  overflow: scroll;
  font-size: 15px;
}
.divider {
  margin-top: 20px;
  text-align: center;
  margin-left: 70px;
  padding: 10px;
}
.text_edit_input {
  width: 300px !important;
  height: 24px !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  text-align: left !important;
}
.country {
  background-color: #F9E1D5;
}
.browser {
  background-color: #FFB38F;
}
.device {
  background-color: #FF864C;
}
.table {
  width: 270px;
  text-align: center;
  padding: 5px;
}
.table_header {
  text-align: center;
}
th {
    text-align: center !important;
}